<!-- Show User -->
{% extends "_layoutModal.html" %}
<div class="modal fade show-user-modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body d-flex">
          <div class="modal-user-header"></div>
          <div class="modal-user-data flex-column justify-content-left">
            <div class="user-id d-flex justify-content-between">
              <p>#1</p> 
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  {% include "close-24px.svg" %}
                </span>
              </button>
            </div>
            <p class="user-role">Admin</p>
            <p class="modal-user-name">Emir Wicks</p>
            <div class="modal-user-email">emir.wicks@mail.com</div>
            <div class="user-others d-flex justify-content-between ">
                <spna class="user-status">Verified</spna>
                <button class="edit-user-button" id="modal_edit">
                  {% include "keyboard_arrow_down-24px.svg"%}
                </button>
            </div>
  
          </div>
        </div>
        <div class="modal-footer flexible-modal-footer">
          <button class="deactivate-btn btn">
            Deactivate
          </button>
          <button class="edit-btn btn">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>