.otherWorks{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    
}

.otherWorks{
    height: 1920px;
    background-image:url("../img/photo-1561291386-5be50364cfb5.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.otherWorks h1{
   margin-bottom: 24px;
}

.otherWorks>p{
    font-style: italic;
}

.otherWorks p:nth-of-type(2){
    margin-bottom: 48px;   
}

.otherWorks ul{
    width: 1200px;
    color:#fff;
    font-weight: 200;
}

.otherWorks ul>li>ul{
    display: flex;
}

.otherWorks ul>li>ul li{
    display: block;
    justify-content: space-between;
    margin-right: 24px;   
    padding-bottom: 0;
}

.posters ul{
    margin-bottom: 16px;
}
    

.posters p{
    width: 100%;
    text-align: center;
    margin-bottom: 56px;
}
.posters ul li{
    width: 384px;
    height: 528px;
}
    
.photograph{
   margin-bottom: 56px;
}

.photograph li p,.design li p{
    text-align: center;
} 
