{% extends "_layoutPost.html" %}

{% block authorHeadUrl %}photo-1504051771394-dd2e66b2e08f.jpeg{% endblock %}
{% block authorName %}
Emily Wang
{% endblock%}
{% block postTime %}
10:38 AM (4 hours ago)
{% endblock%}
{% block postUtility %}
{% endblock%}
{% block articleContent %}
Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the div is bigger than the height of the img ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?

{% endblock%}
{% block attachment %}
<a class="attachment d-block d-flex align-items-center justify-content-center">
    {% include "attach_file-24px.svg"%}
    HW-2-David.zip
  </a>
{% endblock%}