{% extends "_layoutPost.html" %}

{% block authorHeadUrl %}photo-1514794749374-fb67509dbb7f.jpeg{% endblock %}
{% block authorName %}
Andy Chen (You)
{% endblock%}
{% block postTime %}
13:24 AM (1 hours ago)
{% endblock%}
{% block postUtility %}
{% endblock%}
{% block articleContent %}
Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on. There is space below that line for the descenders you find on letters like g, j, p and q.
<br>
<br>
You can: 　
<br>
<br>
• adjust the vertical-align of the image to position it elsewhere (e.g. the middle )  <br>
• change the display so it isn’t inline.
{% endblock%}
{% block attachment %}

{% endblock%}