
/*bootstrap component */

.margin-center{
    margin: 0 auto;
}

.btn{
    border-radius: 2px;
    border: 1px solid #000;
    padding: 8px 0;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn:focus{
    box-shadow: none;
    outline: none;
}

.custom-select{
   @extend .btn;
   background-image: url("#{$image-path}keyboard_arrow_down-24px.svg");
   background-size: 24px;
   
}

.custom-control-label::before {
    // position: absolute;
    // top: .25rem;
    left: -2rem;
    // display: block;
    top:0;
    @include setWandH(20px,20px);
    pointer-events: none;
    content: "";
    background-color: $white;
    border:$black solid 2px;
}

.custom-control-label::after {
    position: absolute;
    top:.1rem;
    left: -1.8rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    
}

.badge{
    color:$deep-green;

    &.badge-light{
        margin-bottom: 0 !important;   
        background-color:$light-green;
    
    }
}
  