
$light-green:#EDF4EE;
$black:#000;
$text-black:#121212;
$deep-green:#2A8356;

$light-green:#EDF4EE;
$border-color:#CDDDCD;
$deep-gray:#0000009A;
$table-thead-gray:#121212;
$reply-gray:#00000062;
$border-red:#E3006E;
$white:#fff;

$pc-min-media:769px;
$pad-max-media:768px;
$pad-min-media:416px;
$phone-max-media:415px;

$font-loto:Lato;
$font-roboto:Roboto; 

$layout-height:100vh;
$image-path:"../../src/images/week5/";

