{% extends "../../templates/_layout-w5.html" %}
        
{% block title %}
Admin
{% endblock %}

{% block sub_title %}
<div class="add-new-admin">
<a class="add" id="add_user">
  {% include "add-24px.svg" %}
Add New Admin</a>

{% endblock %}

{% block content %}   

<table class="table">
  <thead class="table-thead">
    <tr>
      <th scope="col">ID 
        <span>{% include "arrow_downward-24px.svg" %}</span>
      </th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <th scope="row">#1</th>
      <td>Emir Wicks</td>
      <td>emir.wicks@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
        <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#2</th>
      <td>Zaina Goldsmith</td>
      <td>zaina.goldsmith@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#3</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#4</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#5</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#6</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#7</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#8</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#9</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">#10</th>
      <td>Mahima Lopez</td>
      <td>Mahima.Lopez@mail.com</td>
      <td>Yes</td>
      <td>
        <a class="eye" id="show_user" data-toggle="modal" data-target="#userModal">
          {% include "remove_red_eye-24px.svg" %}
        </a>
      <a class="create" id="edit_user" data-toggle="modal" data-target="#editModal">
          {% include "create-24px.svg" %}
        </a>
      </td>
    </tr>
  </tbody>
</table>
<nav>
  <ul class="pagination float-right page-link-font">
    <li class="page-item">
      <a class="page-link">
        {% include "chevron_left-24px.svg" %}
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link">
        {% include "navigate_next-24px.svg" %}
      </a>
    </li>
  
  </ul>
</nav>

  {% endblock %}

  {% block modal%}
  <!-- Modal -->

<!-- Show User -->
{% include "../component/ShowUsermodal.html" %}
<!-- Add User -->
{% include "../component/AddUsermodal.html" %}
<!-- Edit  User -->
{% include "../component/editUsermodal.html" %}
  {% endblock %}

  {% block script %}
<script>
  $('#show_user').on("click",function (e){
    e.preventDefault();
    $('#myModal').modal('show')
    
  });
  
  $('#modal_edit').on("click",function (e){
    e.preventDefault();
    $(this).toggleClass("active");
    $(".modal-footer").toggleClass("active");
    
  });

  $('#add_user').on("click",function (e){
    e.preventDefault();
    $('#addUserModal').modal('show');
  });

  $('#edit_user').on("click",function (e){
    e.preventDefault();
    $('#editUserModal').modal('show');
    
  });
  


  
 
</script>

{% endblock %}