{% extends "../../templates/_layout-w5.html" %}
        
{% block sub_title %}
All Courses
<span class="drop-down">
  {% include "keyboard_arrow_down-24px.svg" %}
</span>
{% endblock %}

{% block content %}   
      <div class="form-area d-flex justify-content-start">
       
          <div class="users-list">
            <h5 class="sub-title">All(4)
              <span class="drop-down">
              {% include "keyboard_arrow_down-24px.svg" %}
            </span></h5>
            <div class="list-group ">
              <a href="#" class="list-group-item active">
                <div class="d-flex justify-content-between">
                  <p class="chapter">Chapter Assignment 2</p>
                  <p class="time">4 hrs ago</p>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                  <p class="article-title">Please check this file…</p>
                  <p class="author-name">Emily Wang</p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="d-flex justify-content-between">
                  <p class="chapter">Chapter Assignment 1</p>
                  <p class="time">12 hrs ago</p>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                  <p class="article-title">My Homework</p>
                  <p class="author-name">David Xu</p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="d-flex justify-content-between">
                  <p class="chapter">Final Assignment</p>
                  <p class="time">18 hrs ago</p>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                  <p class="article-title">Have a problem with this…</p>
                  <p class="author-name">Tony Wei</p>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="d-flex justify-content-between">
                  <p class="chapter">Final Assignment</p>
                  <p class="time">19 hrs ago</p>
                </div>
                <div class="d-flex justify-content-between align-items-end">
                  <p class="article-title">Did I do it right?</p>
                  <p class="author-name">Christina Lin</p>
                </div>
              </a>
            </div>
          </div>
          <div class="reply-area">
           <p class="qty-comments text-right">2 comments</p>
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                  <p class="chapter">
                    Chapter Assignment 2 / HTML&CSS
                  </p>
                  <p class="article-title">
                    Please check this file for me, thanks!
                  </p>
                </div>
                <div class="edit-icon">
                  {% include "tententen.svg" %}
                </div>
              </div>
              <div class="card-body d-flex">
                <div class="author-header d-flex flex-column align-items-center">  
                  <div class="header-image"></div>             
                </div>
                <div class="article-content">
                  <div class="author-name-big">Emily Wang</div>
                  <div class="post-time">10:38 AM (4 hours ago)</div>
                  <div class="text">Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the div is bigger than the height of the img ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?</div>
                  <a class="attachment d-block d-flex align-items-center justify-content-center">
                    {% include "attach_file-24px.svg"%}
                    HW-2-David.zip
                  </a>
                </div>
              </div> 
              <div class="card-header edit-area-title">
                <ul class="d-flex align-items-center justify-content-around">
                  <li><a class="article-title" href="">Body Text {% include "arrow_drop_down-24px.svg" %}</a></li>
                  <li><a href="">{% include "format_bold-24px.svg" %}</a></li>
                  <li><a href="">{% include "format_italic-24px.svg" %}</a></li>
                  <li><a href="">{% include "format_list_bulleted-24px.svg" %}</a></li>
                  <li><a href="">{% include "format_list_numbered-24px.svg" %}</a></li>
                  <li><a href="">{% include "insert_photo-24px.svg" %}</a></li>
                  <li><a href="">{% include "insert_link-24px.svg" %}</a></li>
                  <li><a href="">{% include "code-24px.svg" %}</a></li>
                </ul>   
              </div>
              <div class="card-body edit-area-content">
               <p class="edit-area-font">Reply an answer…</p>
               <div class="button-area">
                <input type="button" class="btn btn-light" value="Cancel">
                <input type="submit" class="btn btn-primary" value="Reply">
               </div>
             
              </div> 
          </div>

          </div>
          
      </div>
    </div>
  {% endblock %}