

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', '蘋方-繁',serif;
    font-size: 16px;
    line-height: 24px; ;

}

a{
    text-decoration: none;
}