@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'variable';
@import 'mixin';
@import 'base';
@import 'questions';


.header{
    height: 108px;
    @include setFontStyle($font-r,400);
    @include phone-media-query{
        height: 50px;
        align-items: center;
    }
    background-color:$brown;
    @include flex-space-between();
    .menu-button{
        display: none;
    }
    @include phone-media-query{
        position: relative;

        .menu-button{
        position:absolute;
        top:13px;
        left:10px;
        display: block;
        @include setWandH(24px,24px);
        background-color: $brown;
        border:0;
        outline: none;
        
            svg{
                 @include setWandH(24px,24px);
                 .b{
                    fill:$white;
                 }
            }
        }
        z-index: 20;
    }
    
    img{

        @include set-rwd-WandH(80px,48.57px,80px,48.57px,48px,29.14px);
       
        @include pc-media-query{
            margin:30px 0 0 88px;
            
        }
        @include pad-media-query{
            margin:30px 0 0 48px;
            
        }
        @include phone-media-query{
            margin: 0 auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    
    .nav{  
           @include flex();
           @include setFontSize(20px,30px);
           margin-top: 40px;
           
            
            @include pc-media-query{
                margin-right: 88px;

                li{
                    margin-left: 64px;
                   a{
                        @include color-white();
                        text-decoration: none;
                   } 
                }
            }   
          @include pad-media-query{
            margin-right: 48px;
           a{
                @include color-white();
                display:block;
                margin-left: 40px;
        
            }
        }
       
     }
     @include phone-media-query{
        .header{
            position: relative;
        }     
        .nav{
            @include flex-column-center();
            width: 100%;
            z-index: 100;
            position: absolute;
            top:10px;
            left:0;
            background-color: $white;
            transition: all 0.8s;
            overflow: hidden;
            height: 0;
            
           li{
            width: 100%;
            line-height: 60px;
            background-color: $brown;
            border-top: 1px solid $white;
            text-align: center;
            
            a{
                color:white;
                display: block;
                font-size: 20px;
            }
           
           }
        }

        .nav.active {
            height: 244px;
        }
    
    }
  
   
}


.jumbotron-container{
    
    .jumbotron-img{
     
        @include pc-and-pad-media-query{
             height: 840px;
        }
       
        background-image:url("../../src/images/week3/68.png");
        position: relative;
        
        background-size:cover;
        background-repeat: no-repeat;
       
        @include pc-media-query{
          
            background-position: center center;
        }
        @include pad-media-query{
            background-position:50%;
        }

        @include phone-media-query{
            background-position:30%;
            height: 394px
        }

        div{
            position: absolute;
            top:45%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include pc-media-query{               
               
                right:20%;
                display: flex;
                justify-content: flex-end;
               
            }
            @include pad-media-query{
               
                right:48px;
              
            }
            @include phone-media-query{
                right:0;
                text-align: right;
            }
    
            h4,h1{
               
                color:$deep-brown;
              
            }
            h4{
                @include setFontStyle($font-a,400);
                @include setFontSize-rwd(36px,20px,16px);
                @include setLineHeight-rwd(54px,30px,30px);
            }

            h1{
                @include setFontStyle($font-a,500);
                @include setFontSize-rwd(64px,48px,32px);
                @include setLineHeight-rwd(96px,72px,72px);
            }
            
            @include pc-media-query{
                h4{
                    width: 526px;
                }
            
                h1{
                    color:$deep-brown;
                    width: 580px;
                    
                }
            }
            @include pad-media-query{
                h4{
                    width: 292px;
                }
            
                h1{
                    color:$deep-brown;
                    width: 432px;
                    
                }
            }
            @include phone-media-query{
            
                h4,h1{
                    color:$deep-brown;
                    width: 288px;
                    margin-right: 12px;
                    
                }
            }
        }

    }

    .jumbotron-apeal{
        background-color:#AA06010D;
        text-align: center;
        @include pc-media-query{
            padding-top: 64px;
        }
        @include pad-media-query{
            padding-top: 42px;
            padding-bottom: 80px;
        }
        @include phone-media-query{
            padding-top: 32px;
            margin-bottom: 24px;
        }
        h1{          
            color:$deep-brown;
            @include setFontStyle($font-a,700);
            @include setFontSize-rwd(48px,32px,24px);
            @include setLineHeight-rwd(72px,48px,48px);
            @include margin-b-rwd(60px,42px,32px);
            
        }

        ul{         
            @include flex();

            @include pc-media-query{
                justify-content: center;
            }
            @include pad-media-query{
                flex-wrap: wrap;  
            }
            @include phone-media-query{
                flex-wrap: wrap;  
               
            }
           
            li{
                @include pc-media-query{
                    @include flex-column-center();
                    margin-left: 98px;
                    margin-bottom: 80px;
                    width: 240px;
                   
                }
                @include pad-media-query{
                    width: 224px;
                    margin-left: 124px;
                  
                }
                @include phone-media-query{
                    width: 228px;
                    margin:0 auto;
                    margin-bottom: 28px;
                   
                }
                
                .svg{
                    @include set-background-image();
                    @include set-rwd-WandH(100px,100px,80px,80px,80px,80px);
                    @include pad-media-query
                    {
                       margin:0 auto;
                    }
                    @include phone-media-query{
                        margin:0 auto;
                    }
                    @include margin-b-rwd(40px,16px,16px);

                }

                .money{
                    @extend .svg;
                    background-image: url(../../src/images/week3/iconfinder_circle-dollar_430089.svg);                                 
                }
                .clock{
                    @extend .svg;
                    background-image: url(../../src/images/week3/iconfinder_clock-1_430090.svg);                                 
                }
                .heart{
                    @extend .svg;
                    background-image: url(../../src/images/week3/iconfinder_heart_430099.svg);                                 
                }
                .glass{
                    @extend .svg;
                    background-image: url(../../src/images/week3/iconfinder_glasses_430098.svg);                                 
                }

                h4{
                    color:$deep-brown;
                    text-align: center;
                    margin-bottom:4px;
                    @include setFontStyle($font-a,500);
                    @include setFontSize-rwd(24px,20px,20px);
                    @include setLineHeight-rwd(36px,30px,30px);
                }
                p{
                    text-align:justify;
                    @include pc-media-query{
                        width: 208px;
                    }
                    @include pad-media-query{
                        margin-bottom: 20px;
                    }
                }
            }
            @include phone-media-query{
                li:last-child{
                    margin-bottom:56px;
                }
              
            }
        }
    }
    
}

.spectacles-list{

    @include pc-media-query{
        width: 1200px;
    }
    @include phone-media-query{
        @include flex-column();
        align-items: center;
    }

    ul{
        @include pad-media-query{
            margin-left:48px;
        }

    }

    @include padding-t-rwd(64px,40px,0);
    margin:0 auto;
    @include margin-b-rwd(80px,40px,24px);
    h1{
        @include setFontSize-rwd(48px,32px,24px);
        @include setLineHeight-rwd(72px,48px,48px);
        @include margin-b-rwd(60px,32px,16px);
        @include setFontStyle($font-a,500);
        color:$deep-brown;
        text-align: center;
       
    }
    $font-size:48px;
    li{
        @include flex();
        @include margin-b-rwd(32px,8px,8px);
        text-transform: uppercase;
        margin-bottom: 32px;
        @include pc-media-query{
           img{
               @include setWandH(797px,320px);
           }
        }

        @include pad-media-query{
            img{
                @include setWandH(410.85px,168px);
            }
            div{
                text-align: center;
                margin:0 auto;
                width: 100%;
               
            }
        }

        @include phone-media-query{
            position: relative;
            img{
                @include setWandH(352px,134px);
            }
            div{
                text-align: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                bottom:0;
                z-index: 999;
                @include flex-center();
                align-items: center;
               
            }
        }


        .svg{
            @include flex();
            @include pad-media-query{
                justify-content: center;
            }
            background-size: cover;
            align-items: center;
            margin-right: 8px;
            width: 300px;
           
            svg{
                @include set-rwd-WandH(48px,37.8px,32px,25.1px,32px,25.1px);
                
                .a{
                    fill:$white;
                    @include pc-media-query{
                        fill:$brown;
                    }
                    @include pad-media-query{
                        fill:$brown;
                    }
                }
           }
        }


        p{
            color:$brown;
            @include setFontStyle-italic($font-r,700);
            @include pc-media-query{
                @include setFontSize($font-size,72px);
                position: relative;
                
            }

            @include pad-media-query{
                @include setFontSize(28px,42px);
                line-height: 168px;
                display: inline-block;
                margin-left: 8px;
              
            }

            @include phone-media-query{
                @include setFontSize(28px,42px);
                margin-left: 8px;
                display: inline;
                color:$white;
            }
        
        }  
        
    }

    li:nth-child(odd) .svg{
        @include pc-media-query{
            margin-left: 24px;
            p{
                margin-left:8px;
            }
        }
    }

    li:nth-child(even){
        @include pc-media-query{
        flex-direction: row-reverse;
       .svg{
          
                margin-right:24px;
                width: 100%;           
            p{
                
                margin-left:8px;
            }
            span{
                margin-left: 24px;
            }
            }
        }
    }

    
    li:nth-child(2){
        display: flex;
       
        @include pc-media-query{
            flex-direction: row-reverse;
        }
    }

    @include pad-media-query{
        li:first-child::before,li:last-child::before,li:nth-child(2)::before {
            background-size: contain;
        }
    }
  
   
}

.poster-section{
    @include pc-media-query{
        height: 2550px;
    }

    position: relative;
}
.poster-background{
    position: absolute;
    background:url(../../src/images/week3/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    top:0;
    bottom:0;
    width: 100%;
    z-index: -100;
    @include pc-media-query{
        height:2190px;
    }
    @include pad-media-query{
        height:1221px;
    }

    @include phone-media-query{
        height:1096px;

    }
}

.jointly-design{
    background-repeat: no-repeat;
    @include margin-b-rwd(144px,40px,24px);
    background-size:cover;
    background-position: top;
    text-align: center;
    @include padding-t-rwd(60px,40px,24px);
    $pc-margin:8px;
    $pad-margin:3px;

     .pictures{
        margin: 0 auto;
        @include pc-media-query{
            width:1540px;
            margin-bottom: 60px;
        }
       
        @include pad-media-query{
            width: 675px;
            margin-bottom: 40px;
        }

        @include phone-media-query{
            width: 327px;
            margin-bottom: 20px;
        }
       
    }

    h1{
        color:$white;
        @include setFontStyle($font-a,400);
        @include setFontSize-rwd(48px,32px,24px);
        @include setLineHeight-rwd(72px,48px,36px);
        @include margin-b-rwd(60px,32px,16px);
      
    }
    @mixin margin-t-rwd($type:pc,$m-t:0){
        @if $type==pc{
            @include pc-media-query{
                margin-top:$m-t;
            }
            @include pad-media-query{
                margin-top: $m-t;
            }
            @include phone-media-query{
                margin-top: $m-t;
            }
        }
    }

    .section-1{
        @include flex();
        >img{
            @include set-complexity-images-rwd(pc,573px,840px,8px,0);
            @include set-complexity-images-rwd(pad,251px,367px,3px,0);
            @include set-complexity-images-rwd(phone,156px,226px,2px,0);
        }
    }
    .section-2{
            @include phone-media-query{
            position: relative;
           
        }
        >img{
          
            @include set-complexity-images-rwd(pc,957px,454px,0,4px);
            @include set-complexity-images-rwd(pad,418px,198px,0,0);
            @include set-complexity-images-rwd(phone,169px,84px,0,0);
        }
    }
    .section-3{
        @include flex();
       
        @include pad-media-query{
            margin-top: -5px;
        }
        @include phone-media-query{
            height:145px;
        }
        >img{
            @include set-complexity-images-rwd(pc,132px,378px,0,0);
            @include set-complexity-images-rwd(pad,58px,166px,0,0);
            @include set-complexity-images-rwd(phone,32px,99px,0,0);
            @include margin-t-rwd(pad, -20px);

            @include phone-media-query{
              position: absolute;
              top:127px;
            
            }
        }
    }

    .section-4{
        @include pc-media-query{
            position: relative;
        }
      
        @include pad-media-query{
            position: relative;
            @include flex-column();
            align-items: flex-end;
          
        }
        @include phone-media-query{
            position:absolute;
        }
        >img{
            @include set-complexity-images-rwd(pad,356px,89px,0,0);
            @include set-complexity-images-rwd(phone,169px,42px,0,0);

            @include phone-media-query{
              margin-top: -5px;
            }
        }

        $margin:calc((167px - 105px)/2);

        .decoration{
            background:url(../../src/images/week3/5.png);
            z-index: 10;
            position: absolute;
            @include pc-media-query{
                @include setWandH(259px,167px);
                right: calc(48px + 17px + 19px);
            }
            @include pad-media-query{
                @include setWandH(147px,77px);
                bottom:0;
                right: 55px;
            }
           
            @include phone-media-query{
                @include setWandH(102px,53px);
               top:60px;
               left:36px;
            }
        }

        p{
            float:right;
            color:$brown;
            background-color:$white;
            $pc-paddign-left:27px;
            $pad-paddign-left:19px;
            $phone-paddign-left:12px;
            @include setFontStyle($font-r,500);
            @include pc-media-query{
                @include setWandH(320px,105px);
                @include setFontSize(72px,108px);
                margin-top:$margin;
                padding-left:$pc-paddign-left;
               
            }
            @include pad-media-query{
                @include setWandH(178px,59px);
                @include setFontSize(40px,59px);
                margin-top: 10px;
                padding-left: $pad-paddign-left;

            }
            @include phone-media-query{
                position:absolute;
                @include setWandH(124px,41px);
                @include setFontSize(26px,41px);
                right:0;
                top:65px;
                padding-left: $phone-paddign-left;
            }
            
            text-align: left;
            margin-bottom: 0;
            position: relative;
            z-index: 100;


            .word-2,.word-3{
                z-index: 100;
                position:absolute;
                top:0px;
                transition: all 1s;
                @include pc-media-query{
                    left:$pc-paddign-left;
                }
                @include pad-media-query{
                    left:$pad-paddign-left;
                }
                @include phone-media-query{
                    left:$phone-paddign-left;
                }
            }
        }

        p::after{
            content:'';
            position: absolute;
            background:url(../../src/images/week3/ic_arrow_forward_24px.svg);
            transition: all 1s;
            @include pc-media-query{
                @include setWandH(48px,48px);
                right:30px;
                top:29px;
            }
            @include pad-media-query{
                @include setWandH(27px,27px);
                right:17px;
                top:15px;
                background-size: contain;
            }
            @include phone-media-query{
                @include setWandH(18px,18px);
                right:14px;
                top:10px;
                vertical-align: center;
                background-size: contain;
            }
           
        }


        p:hover{
            .word-2,.word-3{
                position:absolute;
                display: block;
            }
            .word-2{
                transform: translateY(-100px);
                opacity: 0.8;
            }

            .word-3{
                transform: translateY(-180px);
                opacity: 0.5;
            }
          
        }
        p:hover::after{
            transform: translateX(20px);
        }
    }
}
   
.styles{
       
        >ul{
            @include flex-center();
            @include phone-media-query{
              @include flex-column-center();
            
            }
            
            li{
                display: block;
                @include setFontStyle($font-r,500);
                @include setFontSize-rwd(72px,32px,32px);
                @include setLineHeight-rwd(108px,25px,25px);
                color:$brown;
                align-items: center;
                @include flex-column();
                opacity: 1;
              

                p{
                    margin-top:auto;
                    margin-bottom:auto;
                    z-index:999;
                } 
                position: relative;
            }

            .cover{
                position: absolute;
                top:0;
                bottom: 0;
                @include setWandH(100%,100%);
                background-color: #fff;
                opacity: 0.5;
                
            }
            li:first-child{
                background-image: url(../../src/images/week3/14.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                @include set-rwd-WandH(585px,592px,324px,280px,352px,284px);
                @include margin-b-rwd(144px,40px,20px);
                @include margin-r-rwd(30px,20px,0);
            }

            li:last-child{
                background-image: url(../../src/images/week3/39.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                @include set-rwd-WandH(585px,592px,324px,280px,352px,284px);
                @include phone-media-query{
                    margin-bottom: 24px;
                }
                  
             }

        }
}

.recommendation{
  
    h1{
            @include setFontSize-rwd(48px,48px,24px);
            @include setLineHeight-rwd(72px,48px,36px);
            @include margin-b-rwd(60px,32px,16px); 
            @include setFontStyle($font-a,400);       
    }
    >ul{
      
        @include pc-and-pad-media-query{
            @include flex-center();
        }
       
        @include pad-media-query{
            flex-wrap: wrap;    
        }

        @include phone-media-query{
            @include flex-column-center();
        
        }
        
        li{
            border:1px solid $border-gray;
            background-color: $white;
            border-top: 0;
            margin-right: 24px;
            width: 285px;

            @include phone-media-query{
                @include margin-b(16px);
            }

            @include setWandH(282px,auto);           
            .content{
                padding-left: 16px;
            }
            
            img{
                @include margin-b(16px);
                margin-left: -1px;
            }

            h4{
                @include margin-b(16px);
                @include setFontSize(16px,21px);
                @include setFontStyle($font-r,500);
                text-align: left;
            }

            .comment{
                width: 250px;
                @include setFontSize(12px,24px);
                @include margin-b(16px);
                @include setFontStyle($font-r,400);
                text-align: left;
                text-justify: distribute;
            }

            .time{
                bottom: 16px;
                text-align: left;
                
                @include margin-b(16px);
                @include setFontStyle($font-r,200);
                font-size: 10px;
                
            }
        }

        li:last-child{
            margin-bottom: 0;
        }

        @include pad-media-query{
            li:first-child,li:nth-child(2){
                @include margin-b(24px);
            }

            li:nth-child(even){
                margin-right: 0;
            }


        }
  
    }
}

.contact{
    background-color:$light-pink;
    @include flex-column-center();
    @include padding-t-rwd(64px,40px,0);
    // @include margin-b-rwd(0,16px,0);

    h1{
        @include setFontSize-rwd(48px,32px,20px);
        @include setLineHeight-rwd(72px,48px,48px);
        @include margin-b-rwd(24px,16px,8px);
        @include setFontStyle($font-a,500);
    }
 
    .form-section{
       
        @include pc-media-query{
            width: 792px;
        }
        @include pad-media-query{
            width: 496px;
        }

        @include phone-media-query{
            width: 327px;
        }
        p{
            @include setFontSize-rwd(20px,16px,16px);
            @include setLineHeight-rwd(30px,24px,24px);
            @include margin-b-rwd(20px,16px,8px);
        }
        .form form{
         
            input[type=text]{
                height: 50px;
                width: 100%;
                border: 1px solid $black;
                @include margin-b-rwd(16px,12px,12px);
                @include pc-and-pad-media-query{
                    padding: 16px;
                }
                @include phone-media-query{
                    padding: 12px;
                }
            }

            label{
                @include setFontSize(16px,30px);
                @include margin-b-rwd(4px,4px,2px);
                display: block;
                @include pad-media-query{
                    max-width: 470px;
                }
            }

            .comment {
                @include set-rwd-WandH(792px,136px,498px,136px,327px,100px);
                @include margin-b-rwd(16px,12px,20px);
            }

            .check-box{
               @include flex();
               @include margin-b-rwd(24px,24px,27px);
            }

            button{
                display: block;
                margin:0 auto;
                background-color: $brown;
                color:$white;
                cursor: pointer;
                @include set-rwd-WandH(180px,54px,136px,36px,136px,36px);
                @include setFontSize(16px,24px);
                @include margin-b-rwd(92px,56px,48px);
                @include setFontStyle($font-r,400);

            }
            
            textarea{
                @include pc-and-pad-media-query{
                    padding: 14px 16px;
                }
                @include phone-media-query{
                    padding: 7px 12px;
                }
                border: 1px solid $black;
            }
        }

        input[type=text]::placeholder,textarea::placeholder{
            color:$black;
            opacity: 0.2;
        }

        input[type=checkbox]{
            vertical-align: baseline;
            @include set-rwd-WandH(24px,24px,24px,24px,17.6px,17.6px);
        }
    }
}


.footer{
    background-color:$brown;
  
    @include phone-media-query{
        padding: 0 11px 0 11px;
    }
    @include padding-t-rwd(48px,40px,24px);
.footer-content{
    margin: 0 auto; 
    a{
        color: $white;
        text-decoration: none;
    }

    @include pc-media-query{
        @include setWandH(1150px,auto);
    }
    @include pad-media-query{
        margin:0 48px 0 48px;
    }
    @include phone-media-query{
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-between;
        
    }

    .links-group{
        
        @include pc-and-pad-media-query{
            @include flex-space-between();
            align-items: center;
        }

        @include margin-b-rwd(32px,26px,0);
                
        .nav{
            @include flex();

            a{
                @include setFontStyle($font-a,300);
                @include pc-media-query{
                    margin-right:24px;
                }
                @include pad-media-query{
                    margin-right:40px;
                }
            }

            @include phone-media-query{
                display: none;
            }
            
        }
        .sns-icons{
             @include flex();
             align-items: center;

             @include pc-media-query{
                li{
                    margin-left: 32px;
                }
               
            }
             @include pad-media-query{
                li{
                    margin-left: 24px;
                }
               
             }
             .facebook a img,.instagram a img,.line a img{
                @include set-rwd-WandH(48px,48px,24px,24px,24px,24px);
                @include phone-media-query{
                    margin-left: 24px;
                }
             }

            
        }
    }  
    h4{
        @include margin-b-rwd(22px,9px,8px);
        
    }
   
    .phone,.mail{
        @include setFontStyle($font-r,300);
        @include pc-media-query{
            margin-bottom: 22px;
            img{
                @include setWandH(36px,36px);
                margin-right:23px;
            }
            a{
                @include setFontSize(36px,54px);
            }
    
        }

        @include pad-media-query{
            img{
                @include setWandH(23px,23px);
                margin-right:12px;
                vertical-align: baseline;
            }
            a{
                @include setFontSize(20px,30px);
            }
             h4{
                margin-bottom: 9px;
            }
    
        }
        @include phone-media-query{
            img{
                @include setWandH(13px,13px);
                margin-right:8px;
                    // vertical-align: baseline;
            }
            a{
                @include setFontSize(16px,30px);
            }

            h4{
                margin-bottom: 8px;
            }
        }
    }

}

.hr{
    @include pc-media-query{
        width: 1150px;
    }
    @include pad-media-query{
        margin:0 48px 0 48px;
    }
}

.copy-right{
    @include setFontStyle($font-r,200);
    @include flex-space-between();
    @include pc-media-query{
        width: 1150px;
        margin:0 auto;
        margin-top:24px;
       
    }
  
    @include pad-media-query{
        margin:16px 48px 0 48px;
    }
    @include phone-media-query{
        position: relative;
        @include flex-column();
        @include setFontSize(14px,21px);
    }
  
    li,a{
        color:$white;
        text-decoration: none;
        @include pc-media-query{
            @include setFontSize(14px,21px);
        }
        @include pad-media-query{
            @include setFontSize(16px,24px);
        }

    }

    ul{
        @include flex();
        align-items: center;
        @include pc-and-pad-media-query{
            @include margin-b(40px);
         
        }
      
    }

    @include phone-media-query{
        ul li{
         margin-bottom: 8px;
        }
        
    }


    ul:first-child{
      
        img{
            @include pc-media-query{
                margin-right: 38px;
                // margin-bottom: 27.43px;
                vertical-align: middle;
                
            }
            @include pad-media-query{
                display: none;
            }
            @include phone-media-query{
                @include setWandH(46px,28px);
                position: absolute;
                bottom: 20px;
                right: 12px;
                margin: 0;
            }
        }
    }

    ul:last-of-type{
        align-items: center;
       
        li{
            display: inline-block;
            @include pc-media-query{
                margin-left: 62px;
            }
            @include pad-media-query{
                margin-left: 24px;
            }
         
        }

        a{
           
            display: inline-block;
            @include pc-media-query{
                margin-left: 62px;
            }
            @include pad-media-query{
                margin-left: 24px;
            }
        }
        @include phone-media-query{
            @include flex-column();
            align-items: flex-start;

            li:last-child{
                @include margin-b(24px);
                
            }
        }
    }
     
}


}

