
<div class="article d-flex">
    <div class="author-header" style="background-image: url('')">  
      <div class="header-image"></div>             
    </div>
    <div class="article-content">
      <div class="article-nav">
        <div class="article-author-data">
            <div class="author-name-big"></div>
            <div class="post-time"></div>
        </div>
        <div class="article-utility">
            
        </div>
        
      </div>  
      <div class="text">
        
      </div>
      
    
    </div>
  </div>