
<div class="article d-flex">
    <div class="author-header">

    <div class="head-image"
        style="background-image: url('../src/images/week5/');"> 
    </div>  
                
    </div>
    <div class="article-content">
      <div class="article-nav d-flex justify-content-between">
        <div class="article-author-data ">
            <div class="author-name-big"></div>
            <div class="post-time"></div>
        </div>
        <div class="article-utility">
            
        </div>
        
      </div>  
      <div class="text">
        
      </div>
      
    
    </div>
  </div>