
<div class="article d-flex">
    <div class="author-header">

    <div class="head-image"
        style="background-image: url('../src/images/week5/photo-1514794749374-fb67509dbb7f.jpeg');"> 
    </div>  
                
    </div>
    <div class="article-content">
      <div class="article-nav">
        <div class="article-author-data">
            <div class="author-name-big">
Andy Chen (You)
</div>
            <div class="post-time">
13:24 AM (1 hours ago)
</div>
        </div>
        <div class="article-utility">
            

        </div>
        
      </div>  
      <div class="text">
        
Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on. There is space below that line for the descenders you find on letters like g, j, p and q.
<br>
<br>
You can: 　
<br>
<br>
• adjust the vertical-align of the image to position it elsewhere (e.g. the middle )  <br>
• change the display so it isn’t inline.

      </div>
      


    
    </div>
  </div>