$image-path:"../../src/images/week7/";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "about";
@import "myBrand";
@import "otherWorks";
@import "contact";
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 42px;
}

main {
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    line-height: 75px;
    font-weight: 500;
    font-style: italic;
}

.font-rotobo-bold {
    font-size: 24px;
    line-height: 42px;
    font-weight: 500;
    font-style: italic;
}

.font-rotobo-medium {
    font-size: 24px;
    line-height: 42px;
    font-weight: 400;
    font-style: italic;
}


/* .font-rotobo-medium-small{
    font-size: 20px;
    line-height: 42px;
    font-weight: 400;
    font-style: italic;
} */

.jumbotron {
    height: 958px;
    background-image: url("#{$image-path}banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    background-color: transparent;
}

.jumbotron-content {
    width: 308px;
}

.jumbotron h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 32px;
}

.jumbotron p {
    width: 283px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 48px;
}

.jumbotron h5 {}

.jumbotron ul {
    display: flex;
    justify-content: space-between;
}

.jumbotron a {
    display: block;
    cursor: pointer;
}

.behence {
    background: url(#{$image-path}behance.svg);
    width: 60px;
    height: 60px;
}

.facebook {
    background: url(#{$image-path}facebook.svg);
    width: 60px;
    height: 60px;
}

.instagram {
    background: url(#{$image-path}instagram.svg);
    width: 60px;
    height: 60px;
}

.youtube {
    background: url(#{$image-path}youtube.svg);
    width: 60px;
    height: 60px;
}